*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  /* margin: 90px; */
  padding: 0;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  display: flex;
  justify-content: center;
}

p{
  text-align: center;
}

.wrapper{
  display: flex;
  width: 600px;
  border: solid black;
  font-size: 22px;
  height: 350px;
  border-radius: 6px;
  overflow: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  >li{
    padding: 15px;
  }

  > li:nth-child(1) {
    background-color: #FEC0CA;
  }
  > li:nth-child(2) {
    background-color: #E6E6F9;
  }
  > li:nth-child(3) {
    background-color: #D8BFD7;
  }
  > li:nth-child(4) {
    background-color: #FFD9B9;
  }
}

code{
  background-color: rgb(168, 164, 164);
  padding: 4px;
  border-radius: 3px;
}